*{
    margin : 0;
    padding : 0;
}
html{
    background-color: #08C;
}
div{
    position: relative;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}
#wrapper{
    width:100%;
}
#left{
    width: 20%;
    float: left;
    /*background-color: white;*/

}
#right{
    width: 80%;
    float:right;
}
#right>div{
    width: 100%;
}
#top{
}
#bottom{
   
}
form{
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 20px;
}
#users{
    margin: 20px;
    background-color: white;
    box-shadow: 2px 2px 20px;
    border-radius: 10px;
    padding: 10px;
}
#messages{
    margin: 20px;
    background-color: white;
    overflow-y: scroll;
    padding: 5px;
}
#message{
    line-height: 60px;
    vertical-align: middle;
    margin: 20px;
    /*background-color: white;*/
}
#message input[type='text']{
    width: 90%;
    height : 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px ;
}
#message input[type='submit']{
    width: 9%;
    height : 50px;
    border-radius: 10px;
    background-color: white;
    color: black;
}